@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: #faf8f8;
  font-family: "Open Sans", sans-serif;
}

h1 {
  margin: 0 auto;

}

h2 {
  font-size: 20px;

}

/* home page and details page */

.container {
  max-width: 1000px;
  margin: 0 auto;
  background: rgb(207, 205, 205);
}


.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.result {
  margin: 1rem;
  padding: 1rem;
  max-width: 240px;
  background: white;
  border: 2px solid blue;
  border-radius: 1rem;
}

.card{
  border: 2px solid green;
  background:  lightyellow;
}


.error {
  border: 1px solid rgb(51, 5, 5);
  padding: 1rem;
  color: darkred;
  background: rgb(246, 242, 242);
}



.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid darkgreen;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* contact page */

input {
  width: 100%;
  margin-top: 4px;
  padding: 10px;
  font-size: 16px;
}

form {
  max-width: 500px;
  padding: 2em;
  background: rgb(231, 226, 226);
  border: 2px solid black;
  border-radius: 1rem;
  margin: 0 auto;
}


label {
  display: block;
  margin-top: 1rem;
}

.input-error {
  display: none;
  color: red;
  font-size: 0.9rem;
  margin-top: 2px;
}

button {
  background: rgb(11, 133, 31);
  border-radius: 4px;
  border: none;
  width: 300px;
  padding: 20px;
  color: white;
  margin-top: 20px;
  cursor: pointer;
  
}